body {
  background-color: rgb(38, 2, 22);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: whitesmoke;
}
div, main, footer {
    margin: 1.25rem auto;
    max-width: 760px;
}
header {
    background-color: #f76f08;
     display: grid;
     grid-template-columns: 150px auto;
     color: white;
     box-sizing: border-box;
     border-radius: 15px;
     border-top: 2.9px solid #fefcfc;


}
h1 {
    text-align: center;
}
h2 {
    color: #ffe604;
    text-align: center;
    font-size: 44px;
    font-family: 'Tapestry', cursive; 
    margin-top: 5%;
    margin-bottom: 5%;    
    border-bottom: 1.5px solid #424141;
}

img {
    float: left;
    width: 129px;
    height: 100px;
    margin: 10px;
    border: -1px solid rgb(255, 255, 255);
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 10px 0px 30px #c4c4c4;


}
p {
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    font-family: 'Tapestry', cursive; 
    margin-top: 5%;
    margin-bottom: 5%;    
    border-bottom: 1.5px solid #424141;
}
footer {
    background-color:  #f76f08;
    color: white;
    text-align: center;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    border-top: 1.9px solid #ffffff;
    border-top-style: inherit;
    border-radius: 15px;
}

#currentdate, h3, #currentyear {
    color: #ffe604;
    background-color:rgb(38, 2, 22);
    border-radius: 5.5px;
    padding: .25rem;
    border-top: 2.9px solid #fefcfc;
}
