@media only screen and (max-device-width: 480px) {
  div#wrapper {
      width: 400px;
  }

  header {
      height: 93px;
      position: relative;
  }

  header h1 {
      font-size: 140%;
  }

  #content {
      float: none;
      width: 100%;
  }

  navigation {
      float:none;
      width: auto;
  }
  .img {
    max-height: 700%;
    max-width: 600%;
    display: flex;
    position: relative
}
}