* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(38, 2, 22);
  color: whitesmoke;
}
.img {
    width: 129px;
    height: 100px;
    margin: 10px;
    border: -1px solid rgb(255, 255, 255);
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 10px 0px 30px #c4c4c4;
 
}
.brand {
    display: block;
    margin: 0 auto;
    margin-bottom: 90px;
}


h2 {
  text-align: center;
}

.h4 {
    margin: auto;
    padding: 15px;
    border-radius: 10px;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
.list {
    text-align: justify;
    margin-top: 100px;
}

.footer, header {
    display: flex;
    padding: 1em;
    text-align: center;
    background-color: #f76f08;
    font-family: Tapestry;
    grid-template-columns: 150px auto;
    color: white;
    box-sizing: border-box;
    border-radius: 15px;
    border-top: 2.9px solid #fefcfc;
    
    }

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  padding: 1em;
}

.colors {
  width: 100%;
  min-width: 350px;
  margin-top: 100px;
  text-align: center;  
  margin-bottom: 100px;
}
.colors th {
  background-color: #999;

}
.colors td{
    width: 25%;
    height: 3em;
}

.typography {
    margin-bottom: 100px;
}

.color-palette {
    margin-top: 100px;
}

.primary {
  background-color: rgb(38, 2, 22);
}
.secondary {
  background-color: #f76f08;
}
.accent1 {
  background-color: #ffffff;
}
.accent2{
  background-color: #000080;
}

p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}

/* Style the navigation menu */
.navbar {
    width: 100%;
    overflow: auto;
  }
  
  /* Navigation links */
  .navbar a {
    float: left;
    padding: 1.2px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 33.33%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
    overflow: hidden;
    flex-direction: column;
  }
  
  /* Add a background color on mouse-over */
  .navbar a:hover {
    background-color: navy;
  }

footer {
    background-color:  #f76f08;
    color: white;
    text-align: center;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    border-top: 1.9px solid #ffffff;
    border-top-style: inherit;
    border-radius: 15px;
}

#currentdate, #currentyear {
    color: navy;
    background-color: #f76f08;
  
   
}
.persona {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #ffe604;
    text-align: justify;
}

.scenerio {
    margin-top: 90px;
    margin-bottom: 100px;
    text-align: justify;
}

  /* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left; /* If you want the text to be left-aligned on small screens */
    }
}
