body {
    text-align: center;
    margin: 10px;
    max-width: 760px;
    align-items: center;
}

header {
    background-color: rgb(233, 105, 0);
    padding: 1.5rem;
    color: rgb(0, 0, 0);
}

#portal {
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-inline-start: 5rem;
    margin-right: 15px;
}